<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rosarivo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.css">
  <link rel="stylesheet" href="../../../static/css/style.css">
  <script src="../../../static/js/main.js"></script>
  <title>Selma Fernandes</title>
</head>
<body>
  <div class="container">
     <div class="login-box">
      <div class="login">
        <div class="login__logo">Selma Fernandes</div>
        <div class="sub-title">Novo usuário</div>
        <form method="POST" id="loginForm">
          {% csrf_token %}
          {% render_field form.email id="email" class="login__input" placeholder="E-mail" %}
          {% render_field form.first_name class="login__input" placeholder="Nome Completo" %}
          {% render_field form.password1 id="password1" class="login__input" placeholder="Senha" %}
          {% render_field form.password2 class="login__input" placeholder="Confirme sua senha" %}
          <button type="submit" class="login__btn">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
  <script src="../../../static/js/main.js"></script>
</body>
</html>
